<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        
    </head>

    <body>
     
        <center><div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{player.first_name}} {{player.last_name}} Details</h5>
              </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">height in inches: {{player.h_in}}</li>
              <li class="list-group-item">height in meters: {{player.h_meters}}</li>
            </ul>
          
          </div></center>
      <h1 class="mt-2">Other Players with same height</h1>  
      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player Name</th>
          <th scope="col">Height (in)</th>
        </tr>
      </thead>
      <tbody>
          {%for i in players %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><a href="#">{{i}}</a></td>
          <td>{{player.h_in}}</td>
        </tr>
       
      </tbody>
      {%endfor%}
    </table>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  
    
    </body>
</html>