<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        
    </head>

    <body>
        <div class="container">
        <h1>Matches Page</h1> <a href="{% url 'home' %}">Home</a>
        <form method="get" action="{% url 'get_matches' %}">
            <div class="form-group" >
              <label for="inch">Inches:</label>
              <input type="number" class="form-control" name="inch" id="inch" aria-describedby="emailHelp" placeholder="Enter a value">
              
            </div>
           
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Players pair</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
                {%for i in players %}
               
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i}}</td>
                <td>{{value}}</td>
              </tr>
            </tbody>
            {%endfor%}
          </table> 
            
           
      
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  
    
    </body>
</html>